
extends layout.pug

block head
  link(rel="stylesheet" href="/css/index.css")
  script(defer src="/js/calc.js")

block content
  #content
    h3.title Calculator
    section.cards
      .card
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum sint, animi inventore aliquid est fuga voluptate vero rem id soluta beatae ullam dolore ipsa consequuntur eius enim impedit delectus iusto natus modi nesciunt! Beatae ea minima natus, qui reiciendis id sed. Dolore saepe laborum veniam eligendi consectetur nihil recusandae!
      .card
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, perferendis.
      .card
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, perferendis.
      .card
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, perferendis.

