<!DOCTYPE html>
<html>
<head>
    <%- include ("./partials/head.ejs") %> 
</head>
<header>
    <%- include ("./partials/header.ejs") %> 
</header>
<body>
<%- body %>
<%- include ("./partials/footer.ejs") %>
</body>
</html>