$nav-color: #444;
$main-color: #1ba4d1;

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  background-color: #fafafa;
  margin: 0;
}

#main-container {
  margin: 0;

  width: 100%;
  height: 100%;
}

#content {
  margin: 15px 15px 15px 265px;
}

// Navbar large style

#main-nav {
  position: fixed;
  left: 0;
  min-width: 250px;
  max-width: 250px;
  z-index: 1;
  top: 0;
  background-color: $nav-color;
  color: white;
  overflow: hidden;
  padding-top: 10px;
  min-height: 100vh;
  display: block;

  h2 {
    padding: 0px 10px;
  }

  p {
    padding: 0px 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      // padding: 10px 10px;
      color: $main-color;
    }

    a {
      display: inline-block;
      padding: 10px 10px;
    }
  }

  ul li:hover {
    background-color: #777;
    color: #0d4e63;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-weight: 1000;
    display: block;
    width: 100%;
    height: 100%;
  }

  footer {
    position: absolute;
    text-align: left;
    margin-top: auto;
    bottom: 0;
  }
}

.divider {
  width: 80%;
  display: block;
  height: 2px;
  border-radius: 2px;
  margin: 0 auto;

  background-color: white;
}

// #content {
//   position: relative;
//   // margin-left: 250px;
//   float:right;
//   // width: calc(100% - 256px);
//   height: 100%;
// }

#small-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  z-index: 2;
  margin-top: auto;
  background-color: $nav-color;
  height: 30px;
  color: white;
  justify-content: center;
  align-items: center;
  display: none;
}

@media screen and (max-width: 800px) {
  #content {
    margin: 40px 15px 40px 15px;
  }

  #main-nav {
    // height:50px;
    min-height: 0;
    width: 100%;
    max-width: 100vw;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;

    h2 {
      margin: 0px;
      margin-right: 10px;
    }

    p {
      padding: 0;
      margin: 0;
      margin-right: 10px;
    }

    .divider {
      display: none;
    }

    ul {
      margin: 0px;
    }

    ul li {
      float: left;
      padding: 5px;
    }

    a {
      padding: 0px;
      display: inline-block;
      padding: 5px;
    }

    footer {
      display: none;
    }
  }

  // #content {
  //   margin-top: 35px;
  //   margin-left: 0;

  //   margin-bottom: 40px;
  //   position: absolute;
  //   width: calc(100% - 8px);
  //   height: calc(100% - 20px);
  // }

  #small-footer {
    display: flex;
    position: fixed;
  }
}

@media screen and (max-width: 650px) {
  #main-nav p {
    display: none;
    min-width: 450;
  }

  #small-footer {
    position: absolute;
    width: 100%;
    min-height: 0;
    max-height: 100vh;
    height: 100px;
    bottom: 0;
  }

  // #content {
  //   padding-bottom: 40px;
  // }

  #main-container {
    position: relative;
    min-height: 100vh;
    margin-bottom: 40px;
    padding-bottom: 40px;
  }
}