<!-- views/pages/about.ejs -->

<main>
    <section class="section">
        <div class="container">
            <h1 class="title">
                About
            </h1>
            <p class="subtitle">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum maiores consequatur iusto, itaque animi
                aperiam hic architecto blanditiis laudantium. Distinctio eaque perferendis optio dolor doloribus. Non
                autem doloribus dicta nostrum blanditiis praesentium laborum maxime, vel unde optio? Quibusdam,
                aspernatur! Voluptates velit culpa ratione suscipit obcaecati, consectetur maiores earum quod dolorem?
            </p>
        </div>
    </section>
</main>