<!-- views/pages/about.ejs -->

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>EJS is working!</p>
        </div>
    </div>

    <div class="col-sm-4">        
        <div class="well">
            <h3>Look I'm A Sidebar!</h3>
            <p>TODO: Switch to BULMA instead of dirty bootstrap.</p>
        </div>
    </div>

</div>
</main>
