<!-- views/pages/index.ejs -->
<main>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Hello World!
            </h1>
            <p class="subtitle">
                My first website with <strong>Bulma</strong>!
            </p>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <form action="/api/calc" method="POST"></form>
            <input type="text" name="nm">
            <button type="submit">Submit</button>
        </div>
    </section>
</main>
